<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Xtorium.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
	<runtime>
    		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
        		<probing privatePath="x86"/>
    		</assemblyBinding>
	</runtime>
    </startup>
    <userSettings>
        <Xtorium.Properties.Settings>
            <setting name="Home" serializeAs="String">
                <value>bing.com</value>
            </setting>
            <setting name="NameID" serializeAs="String">
                <value>User</value>
            </setting>
            <setting name="InitialLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="FavColor" serializeAs="String">
                <value>0, 183, 195</value>
            </setting>
            <setting name="XDefaultColor" serializeAs="String">
                <value>0, 183, 195</value>
            </setting>
            <setting name="emailAdress" serializeAs="String">
                <value />
            </setting>
            <setting name="DefaultSearchEngine" serializeAs="String">
                <value>Bing</value>
            </setting>
            <setting name="ShowClockOnHub" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FirstTimeRun" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IDShowInMenu" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HomeButton" serializeAs="String">
                <value>bing.com</value>
            </setting>
            <setting name="HUBShowMe" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HUBShowApps" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HUBShowAppsEmbedded" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ThemeWorB" serializeAs="String">
                <value>White</value>
            </setting>
        </Xtorium.Properties.Settings>
    </userSettings>
</configuration>
